body {
    font-family: Arial, sans-serif;
    background-color: #d7e1e9;
    margin: 0;
    padding: 0;
}
nav {
    
    justify-content: center;
    background-color: #064589;
    padding: 10px;
}
nav a {
    color: rgb(255, 255, 255);
    padding: 40px 20px;
    text-align: center;
    margin: 40px;

    text-decoration: none;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 235, 235, 0.1);
    padding: 20px;
    border-radius: 8px;
}

header h1 {
    text-align: center;
    color: #0b0b0b;
    margin-bottom: 20px;
}

.description {
    text-align: center;
    margin-bottom: 30px;
}

.credits {
    margin-bottom: 30px;
}

.credits h2 {
    color: #111111;
    margin-bottom: 15px;
}

.credits ul {
    list-style-type: none;
    padding: 0;
}

.credits li {
    background-color: #edf0f5;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
}

.learn-more {
    display: inline-block;
    background-color: #123d6a;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

